# =========================
# Environment variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
dbdata/
volumes/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Temporary files
# =========================
*.tmp
*.bak
